<div class="rendering-area">
    <div class="background-area">
        <canvas class="background-star"></canvas>
    </div>
    <div class="content-area">
        <div class="content-border">
            <div class="header">
                <div class="subtitle">🌟 天文部展示教室 🌟</div>
                <div class="title">混雑状況</div>
                <div class="title">ダッシュボード</div>
            </div>
            <div class="data-state-area">
                <div class="last-updated">
                    最終更新: <span id="lastUpdated"></span>
                </div>
            </div>
            <div class="data-table-area">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>混雑<br>状況</th>
                            <th>教室</th>
                            <th>企画<br>内容</th>
                            <th>更新<br>日時</th>
                        </tr>
                    </thead>
                    <tbody id="dataTableBody"> </tbody>
                </table>
            </div>
        </div>
    </div>
</div>