.title_frame {
    position: relative;

    margin: 0 auto 2.5vh auto;
    padding: 1vh 2vw;

    width: fit-content;

    background-color: #ffffff30;

    border-radius: 4vh;

    box-shadow: 0.5vw 1vh 1.5vw #000c,
        -0.25vw -0.4vh 0.5vw #0008;

    .system_title {
        position: relative;

        margin: 0 auto;

        text-align: center;
        color: #d0f0ff;
        font-size: 3vh;
    }

    .subtitle {
        position: relative;

        margin: 0 auto;

        text-align: center;
        color: #b3e0ff;
        font-size: 4vh;
    }

    .title {
        position: relative;

        margin: 0 auto;

        text-align: center;
        color: #4fc3f7;
        font-size: 6vh;
    }
}