.title_frame {
    position: relative;

    margin: 1vh auto 0 auto;
    padding: 2vh 6vw;

    width: fit-content;

    background-color: #ffffff30;

    border-radius: 1vh;

    box-shadow: 0.5vw 1vh 2vw #000c,
        -0.25vw -0.4vh 0.5vw #0004;

    .system_title {
        position: relative;

        margin: 0 auto;

        text-align: center;
        color: #d0f0ff;
        font-size: 2vh;
    }

    .subtitle {
        position: relative;

        margin: 0 auto 0.5vh auto;

        text-align: center;
        color: #b3e0ff;
        font-size: 3vh;
    }

    .title {
        position: relative;

        margin: 0 auto;

        text-align: center;
        color: #4fc3f7;
        font-size: 3.5vh;
    }
}